<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mandelamoney">
    <application>
        <activity
            android:name="com.example.mandelamoney.view.activity.UnlockActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.example.mandelamoney.view.activity.LoginActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.example.mandelamoney.view.activity.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.ResetPasswordActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.RecoverAccountActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.ForgotPasswordActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.MakePaymentScanQrActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.ConfirmPaymentActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.ShowSuccessActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.ShowFailedActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.RequestPaymentShowQrActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.RequestPaymentEnterAmountActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.CreateAccountEnterBusinessDetailsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.CreateAccountEnterStudentDetailsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity android:name="com.example.mandelamoney.view.activity.CreateAccountSelectUserTypeActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.example.mandelamoney.view.activity.DepositFundsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation,android:configChanges" />

        <activity
            android:name="com.example.mandelamoney.view.activity.ConfirmDepositActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation,android:configChanges" />

        <activity android:name="com.example.mandelamoney.view.activity.DashboardActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation,android:configChanges" />
        <activity
            android:name="com.example.mandelamoney.view.activity.WithdrawFundsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation,android:configChanges" />

        <activity
            android:name="com.example.mandelamoney.view.activity.ConfirmWithdrawActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation,android:configChanges" />

        <activity
            android:name=".view.activity.EditBusinessProfileActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".view.activity.EditStudentProfileActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="locked"
            tools:replace="android:screenOrientation" />
    </application>
</manifest>